.horizontal-stepper {
  width: 100%;
  height: 121px;
  border-radius: 8px 8px 0 0;
  background-color: #28264b;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.steps{
  width: 100%;
  padding: 0px 50px 32px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step {
  position: relative;
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 2px solid #28264B;
  transition: width 0.3s, height 0.3s;
}

.step.active {
  min-width: 36px;
  min-height: 36px;
  width: 36px;
  height: 36px;
}
.inner-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #28264B;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step .step-label {
  position: absolute;
  top: 40px; 
  font-size: 12.8px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: center;
  color: #FFFFFF;
  opacity: 60%;
}
.step .step-label.active{
  opacity: 100%;
}

.step-line {
  flex-grow: 1;
  height: 2px;
  background-color: #FFFFFF;
}
