.summary-content {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.company-detail p {
  font-size: 14.22px;
  font-weight: 400;
  line-height: 22.75px;
  text-align: left;
  color: #000000;
  margin: 0;
  margin-top: 12px;
}
.company-detail p span {
  font-weight: 600;
}
